<!doctype html>
<html ng-app="imageSplitApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app/lib/ng-flow-standalone.min.js"></script>
    <script src="app/app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app/app.css">
</head>

<body>
    <h2>imageSplit App</h2>
    <div data-ng-controller="MainCtrl">
        <div class=" row">
            <div class="col-sm-3" flow-init flow-file-success="displayRes($message)" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.opts.query={ count:$parent.opt.countSplit  };$flow.upload()">
                <h1>Upload Image</h1>
                <hr class="soften" />

                <div>
                    <div class="thumbnail" ng-hide="$flow.files.length">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                    </div>
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="$flow.files[0]" />
                    </div>
                    <p for="">Count of pieces</p>
                    <div class="form-group form-inline">
                        <input type="number" min="1" ng-change="getSplit()" class="form-control" name="sdfsd" ng-model="opt.countSplit">
                    </div>
                    <div>
                        <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
                        <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
                        <a href="#" class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                          Remove
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                    <img ng-repeat="img in imgs" class="img-rounded" style="padding:5px;width:{{(100/message.count)}}%" ng-src="{{img}}" alt="">
            </div>
        </div>
        <div class="row">
          <h2>All images</h2>
          <hr>
          <div class="col-xs-6 col-md-3" ng-repeat="img in imgsAll" ng-click="getSplit($index)">
            <a href="#" class="thumbnail">
              <img class="img-rounded"  ng-src="{{img.file.path}}" alt="">
            </a>
          </div>
        </div>
    </div>
</body>

</html>
